/* 
* @Author: Marte
* @Date:   2017-07-10 09:47:34
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-10 14:24:34
*/
@charset "utf-8";
/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{width:100%;height:100%;font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 14px; text-align: left;background:#F2F2F2;}
ul,ol{list-style: none;}
img{border: 0;display:block;}
input,select,textarea,button{outline:0;border:0;}
textarea{resize:none;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a, a:link, a:visited, a:hover, a:active{
    text-decoration:none!important;
    color:#000;
} 
a:focus {
    outline: none;
}
::-webkit-scrollbar{width:6px;height:12px;}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    border: 0 solid #fff;
}
::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}
/*==========================Reset_End===========================*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  color:#999;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar{width:6px;height:12px;}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    border: 0 solid #fff;
}
::-webkit-scrollbar-track-piece {
    background-color: #ebebeb;
    -webkit-border-radius: 0;
}
.chat{
    width:700px;
    height:700px;
    border:1px solid #888;
    margin:50px auto;
    background:white;
    position: relative;
    box-shadow: 0 0 10px #666;
    border-top:0;
}
.login-top{
    width:100%;
    height:6px;
    background: -webkit-linear-gradient(left, #63b5e4 , #b3a5e3); 
}
.chat-box{
    height:100%;
}
.chat-login{
    width:100%;
    height:100%;
    text-align: center;
    position:absolute;
    left:0;
}
.chat-login img{
    margin:80px auto 0;
    display:block;
}
.chat-login h1{
    display: inline-block;
    font-family: Palace Script MT;
    font-size: 55px;
    margin-bottom:50px;
    background-image: -webkit-linear-gradient(left, #63b5e4 , #b3a5e3); 
    background-image: linear-gradient(to right, #63b5e4 , #b3a5e3);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.chat-login h2{
    margin-top:10px;
    color:#96ace6;
    font-weight:normal;
    margin-bottom:50px;
}
.chat-login h3{
    font-weight:normal;
    text-align: center;
    padding-top:100px;
    margin-bottom:30px;
}
.login-userinfo{
    width:200px;
    margin:20px auto;
    padding-left:4px;
    padding-bottom: 6px;
    text-align: left;
    border-bottom:1px solid #999;
}
.login-userinfo i{
    transition:all .2s;
    
}
.chat-login input{
    float:right;
    width:150px;
    margin:0 auto;
    border:0;
    background:none;
    height:30px;
    line-height:30px;
    outline:none;
    color:#96ace6;
    font-weight: bold;
    font-size:16px;
    padding:0 10px;
    text-align: left;
}
.chat-login .login-btn{
    padding:8px 60px;
    color:white;
    background:#96ace6;
    display:inline-block;
    margin:30px auto;
    border-radius:4px;
    cursor:pointer;
}
.login-btn:hover{
    background:#7f9be4;
}
.chat-room{
    display:none;
    width:500px;
    height:100%;
    position:relative;
}
.chat-list{
    height:calc(100% - 65px);
    padding: 10px 20px;
    overflow:auto;
}
.chat-list li{
    margin:10px 0;
}
.chat-list p{
    font-size:12px;
    margin:5px;
    text-align: center;
    color:#999;
}
.chat-form{
    background:#f3f3f3;
    width:100%;
    height:45px;
    position: absolute;
    bottom:0;
}
.chat-form .say{
    border:0;
    width:calc(100% - 140px);
    height:24px;
    border-bottom:1px solid #dedede;
    background:none;
    margin:10px 0;
    margin-left:40px;
    padding:0 5px;
    outline:none;
}
.chat-form .send{
    padding:6px 18px;
    background:#96ace6;
    color:white;
    font-size:13px;
    margin-left:4px;
    border-radius:4px;
    cursor:pointer;
}
.userinfo{
    position:absolute;
    right:-200px;
    top:0;
    width:200px;
    height:100%;
    background:#eee;
}
.userinfo .userinfo-avator{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;
}
.userinfo .userinfo-avator img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}
.userinfo-avator h3{
    font-size: 20px;
    margin-top: 20px;
}
.userinfo-avator h4{
    color: #575757;
    font-size:12px;
    font-weight: normal;
    margin-top: 5px;
}
.ownerList{
    position:relative;
    margin:15px 0;
    overflow:hidden;
}
.ownerList img{
    float:right;
    width:40px;
    height:40px;
    border-radius:50%;
    overflow:hidden;
}
.ownerList .login-username{
    position:absolute;
    right:50px;
    top:0px;
    font-size:12px;
    color:#999;
}
.ownerList .chat-msg{
    float: right;
    margin-right: 18px;
    line-height: 23px;
    color: white;
    background: #3398dc;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 24px;
    min-width: 50px;
    text-align: center;
    font-style: normal;
    max-width: 68%;
    word-break: break-all;
    position:relative;
}
.ownerList .chat-msg:after{
    content: "";
    position: absolute;
    right: -5px;
    top: 4px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 8px solid #3398dc;
    border-bottom: 16px solid transparent;
}

.otherList{
    position:relative;
    margin:15px 0;
    overflow:hidden;
}
.otherList img{
    float:left;
    width:40px;
    height:40px;
    border-radius:50%;
    overflow:hidden;
}
.otherList .chat-username{
    position:absolute;
    left:50px;
    top:0px;
    font-size:12px;
    color:#999;
}
.otherList .chat-msg{
    float:left;
    margin-left: 18px;
    line-height: 23px;
    color: white;
    background: #3398dc;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 24px;
    min-width: 50px;
    text-align: center;
    font-style: normal;
    max-width: 68%;
    word-break: break-all;
    position:relative;
}
.otherList .chat-msg:after{
    content: "";
    position: absolute;
    left: -5px;
    top: 4px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 8px solid #3398dc;
    border-bottom: 16px solid transparent;
}
